body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #F0F3F4;
}



a .botones {
	text-decoration: none;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	padding: 8px;
	background-color: lightgrey;
	color: #000;
	/*opacity: 0.8;*/
}

.titul {
	font-size: 45px;
}

nav {

	display: flex;
	justify-content: flex-end;
	align-items: left;

}

nav p {
	padding: 0px 20px;
}




.top h1, p {

	color: #000;
	/*display: inline-flex;
	vertical-align: center;*/


}

.jumbotron {

	display: flex;
	align-items: center;
	background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('../Images/home.jpg')  no-repeat center top;
	background-size: cover;
	height: 550px;
	color: #fff;

}


.btn {
	margin-top: 15px;
	position: relative;
}

.btn:active {
	top: 2px;
}



.goods {

	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	height: 550px;
	/*width: 100%;*/
	color: #fff;
	/*background-image: url('../Images/home.jpg');*/
	background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('../Images/home.jpg')  no-repeat center top;
	background-size: cover;
	padding-left: 50px;

}

.goods h2 {
	font-size:70px;
	margin: 0px;
}

.goods h3 {
	font-size: 40px;
}


.contenido {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	min-width: 50%;

}

.categ {

	margin: 20px 15px 20px 0px;


}


.imagen {

	/*height: 403px;*/
}

.complete {
	padding-left: 120px;
	margin-bottom: 30px;
	margin-top: 50px;
}

footer .col-sm-8 {
	display: flex;
	align-items: flex-end;
}

footer ul {
	list-style: none;
}

footer li img {
	width: 32px;
	height: 32px;
	margin-left: 15px;
}
