html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}



body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  background-color: #f2f2f2;

}


.navi {

}


a.enlace {
	text-decoration: none;
	cursor: pointer;
	color: #000;
	/*opacity: 0.8;*/
}


div.cab {
	background-color: #e6e6e6;
	height: 100px;
}
nav {

	display: flex;


}

nav p {
	padding: 0px 20px;
}

@include media-breakpoint-up(sm) {
  nav p {
  	padding: 0px 5px;
  }
}

@include media-breakpoint-up(md) {
  nav p {
  	padding: 0px 10px;
  }
}

@include media-breakpoint-up(lg) {
  nav p {
  	padding: 0px 15px;
  }
}



.top h1, p {

	color: #000;
	/*display: inline-flex;
	vertical-align: center;*/


}

.jumbotron {
display: flex;
align-items: center;
background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('../Images/home.jpg')  no-repeat center top;
background-size: cover;
color: #fff;
}


.jumboindex {

}



.jumbotiendas {

}

.jumboreciente {
	
}

.jumbocontacto {
	background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('../Images/Contacto.jpg')  no-repeat center top;
}


.btn {
	margin-top: 15px;
	position: relative;
}

.btn:active {
	top: 2px;
}

.pie {
  margin-top: 20px;

}


/*.goods {

	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	height: 550px;
	width: 100%;
	color: #fff;
	background-image: url('../Images/home.jpg');
	background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('../Images/home.jpg')  no-repeat center top;
	background-size: cover;
	padding-left: 50px;

}

.goods h2 {
	font-size:70px;
	margin: 0px;
}

.goods h3 {
	font-size: 40px;
}


.contenido {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	min-width: 50%;

}

.categ {

	margin: 20px 15px 20px 0px;


}


.imagen {

	height: 403px;
}

.complete {
	padding-left: 120px;
	margin-bottom: 30px;
	margin-top: 50px;
} */

div.abc {
	background-color: #e6e6e6;
	height: 100px;
}


footer ul {
	display: flex;
	align-items: flex-end;
	list-style: none;
	margin: 0px;
}


footer li img {
	width: 32px;
	height: 32px;
	margin-left: 15px;
}
